<footer class="headFoot rightAlign">
    <nav>
        <h3><a href="/about" class="link">About US</a> | 
        <a href="/contact" class="link">Contact Us</a> </h3>
      </nav> 
</footer>
</body>
</html>