<%- include('./partials/header.ejs')%>
        <section class="header" style="text-align: center;">
            <p><div class="welcome">SPORTIFY is an Award Wining E-commerce website for selling and purchasing sports equipment!! </div></p>
            <p><div class="welcome">Our Mission is to facilitate our clients with the best sports equipments at the most affordable prices!! </div></p>
        </section>
<%- include('./partials/footer.ejs')%>  

