<%- include('./partials/header.ejs')%>

        <section class="header" style="text-align: center;">
            <h2><div>Please reach out to us at sportify@us.business or post your query below and our support team will connect with you as soon as possible.</div></h2>
                <form action="/" method="POST">
                    <ul>
                     <li class="pad">
                       <h3><label for="desc">Post your Query Below</label></h3>
                       <textarea  rows="12" name="desc" id="desc"></textarea>
                     </li>
                    </ul>
                        <input type = "submit" name="trade" value="Submit Your Query">
                </form>
        </section>
<%- include('./partials/footer.ejs')%>