<%- include('./partials/header.ejs')%>
        <section class="header">
            <div class="welcome">Hey you sports freak! Welcome to your favourite place!</div>
        </section>
<%- include('./partials/footer.ejs')%>  
