<%- include('../partials/header.ejs') %>
<div class="header">
        <form action = '/users' method = 'POST' class="mt-20">
            <div class="pad"><label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" class = "fixed-width" required></br>
             </div>
         <div class="pad">
             <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" class = "fixed-width" required></br>
        </div>
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" class = "fixed-width" required></br>
        <div class="pad">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class = "fixed-width" required></br>
        </div >
            <button class="button submit-btn mb-100">Register</button>
        </form>
</div>
<%- include('../partials/footer.ejs') %>